.benefits {
  max-width: 1920px;
  margin: 0 auto; }

.swiper {
  width: 96%;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 35px 35px 90px 90px; }
  .swiper .swiper-slide {
    position: relative;
    width: 100%;
    height: 100%; }
    .swiper .swiper-slide .benefits-main-wrap {
      position: absolute;
      top: 15%;
      min-width: 100%;
      height: 50%;
      z-index: 30;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      text-align: center; }
      .swiper .swiper-slide .benefits-main-wrap .benefits__h2 {
        font-size: 32px;
        font-weight: 700;
        color: var(--white); }
      .swiper .swiper-slide .benefits-main-wrap .benefits__p {
        font-size: 16px;
        font-weight: 300;
        color: var(--white); }
      .swiper .swiper-slide .benefits-main-wrap .benefits__btn {
        width: 295px;
        height: 68px;
        border-radius: 33px;
        border: none;
        background-color: var(--button-orange);
        color: var(--white);
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none; }
        .swiper .swiper-slide .benefits-main-wrap .benefits__btn .btn-arrow {
          width: 25px;
          height: 25px;
          object-fit: cover;
          object-position: center;
          aspect-ratio: 1/1;
          margin-left: 10px; }
    .swiper .swiper-slide .slider_image {
      min-height: 700px;
      height: 100%;
      bottom: 20px;
      object-fit: cover;
      object-position: top center; }
  .swiper .swiper-horizontal > .swiper-pagination-bullets,
  .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper .swiper-pagination-custom,
  .swiper .swiper-pagination-fraction {
    bottom: 50px;
    top: 580px; }
  .swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border: 3px solid var(--white); }
  .swiper .swiper-pagination-bullet-active {
    background-color: var(--white);
    opacity: 0.7; }
  .swiper .swiper-button-next:after,
  .swiper .swiper-rtl .swiper-button-prev:after {
    position: absolute;
    left: -70px;
    color: var(--white); }
  .swiper .swiper-button-prev:after,
  .swiper .swiper-rtl .swiper-button-next:after {
    position: absolute;
    right: -70px;
    color: var(--white); }

@media screen and (min-width: 1024px) {
  .swiper .swiper-slide .benefits-main-wrap {
    left: 19%;
    top: 25;
    width: 70%;
    text-align: start;
    align-items: start;
    justify-content: center;
    gap: 1rem; }
    .swiper .swiper-slide .benefits-main-wrap .benefits__h2 {
      width: 50%; } }
@media screen and (max-width: 1024px) {
  .swiper {
    border-radius: 0;
    width: 100%; }
    .swiper .swiper .swiper-slide .benefits-main-wrap {
      left: 0%; }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none; }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none; } }

/*# sourceMappingURL=benefits.css.map */
