section.benefits {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto; }
  section.benefits .benefits-wrapper .swiper {
    width: 100%; }
    section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide {
      position: relative; }
      section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .swiper-lazy {
        width: 100%;
        height: 730px;
        background-size: cover;
        background-position: center center; }
      section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap {
        position: absolute;
        top: 25%;
        left: 12%;
        max-width: 35%;
        max-height: 45%;
        z-index: 30;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center; }
        section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap .benefits__h2 {
          grid-column: 1/2;
          grid-row: 1/2;
          font-size: 56px;
          font-weight: 700;
          line-height: 70px;
          color: var(--white);
          margin: 0; }
        section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap .benefits__p {
          grid-column: 1/2;
          grid-row: 2/3;
          font-size: 20px;
          font-weight: 300;
          line-height: 27px;
          color: var(--white);
          margin: 10px 0; }
        section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap .benefits__btn {
          grid-column: 1/2;
          grid-row: 3/4;
          max-width: 293px;
          height: 68px;
          border-radius: 33px;
          border: none;
          background-color: var(--button-orange);
          color: var(--white);
          font-size: 16px;
          font-weight: 600;
          padding: 0 20px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          text-align: center;
          text-decoration: none; }
          section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap .benefits__btn .btn-arrow {
            width: 25px;
            height: 25px;
            object-fit: cover;
            aspect-ratio: 1/1;
            margin-left: 5px; }
  section.benefits .benefits-wrapper .swiper .swiper-horizontal > .swiper-pagination-bullets,
  section.benefits .benefits-wrapper .swiper .swiper-pagination-bullets.swiper-pagination-horizontal,
  section.benefits .benefits-wrapper .swiper .swiper-pagination-custom,
  section.benefits .benefits-wrapper .swiper .swiper-pagination-fraction {
    bottom: 40px;
    top: 630px; }
  section.benefits .benefits-wrapper .swiper .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    border: 3px solid var(--white); }
  section.benefits .benefits-wrapper .swiper .swiper-pagination-bullet-active {
    background-color: var(--white);
    opacity: 0.7; }
  section.benefits .benefits-wrapper .swiper .swiper-button-next:after,
  section.benefits .benefits-wrapper .swiper .swiper-rtl .swiper-button-prev:after {
    position: absolute;
    left: -70px;
    color: var(--white); }
  section.benefits .benefits-wrapper .swiper .swiper-button-prev:after,
  section.benefits .benefits-wrapper .swiper .swiper-rtl .swiper-button-next:after {
    position: absolute;
    right: -70px;
    color: var(--white); }

@media screen and (max-width: 1024px) {
  section.benefits {
    padding-top: 72px; }
    section.benefits .benefits-wrapper .swiper .swiper-wrapper .swiper-slide .benefits-main-wrap {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      max-width: 295px;
      max-height: 50%;
      justify-items: center;
      text-align: center; }

  .swiper {
    border-radius: 0;
    width: 100%; }
    .swiper .swiper .swiper-slide .benefits-main-wrap {
      left: 0%; }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    display: none; }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    display: none; } }

/*# sourceMappingURL=benefits.css.map */
