@media screen and (min-width: 375px) {
  .cooperation {
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; }
    .cooperation .cooperation__container {
      min-width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 20px;
      background-color: var(--background-second);
      display: flex;
      flex-flow: column nowrap;
      align-items: center; }
      .cooperation .cooperation__container .cooperation__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 190px;
        max-width: 85%;
        margin: 0 auto; }
        .cooperation .cooperation__container .cooperation__title .cooperation__title__h3 {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin: 20px 0;
          color: var(--white); }
        .cooperation .cooperation__container .cooperation__title .cooperation__title__span {
          font-size: 16px;
          line-height: 29px;
          font-weight: 300;
          color: var(--white); }
        .cooperation .cooperation__container .cooperation__title .cooperation__title__div-hl {
          width: 85px;
          height: 2px;
          background-color: var(--button-orange);
          margin: 20px 0; }
      .cooperation .cooperation__container .cooperation__grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto; }
        .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-one {
          grid-column: 1/2;
          grid-row: 1/2;
          max-width: 570px; }
          .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-one img {
            width: 100%;
            height: auto;
            margin: 0 auto; }
        .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-two {
          grid-column: 1/2;
          grid-row: 2/3;
          max-width: 570px; }
          .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-two p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            padding: 0 5px;
            color: var(--white); }
        .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-three {
          grid-column: 1/2;
          grid-row: 3/4;
          max-width: 570px; }
          .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-three img {
            width: 100%;
            height: auto;
            margin: 0 auto; }
        .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four {
          grid-column: 1/2;
          grid-row: 4/5;
          max-width: 570px; }
          .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            padding: 0 5px;
            color: var(--white); }
          .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four .cooperation-form--btn {
            grid-column: 1/2;
            grid-row: 7/8;
            width: 295px;
            height: 68px;
            margin: 0 auto;
            border-radius: 90px;
            border: none;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            background-color: var(--button-orange); }
            .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four .cooperation-form--btn span {
              font-size: 16px;
              line-height: 23px;
              font-weight: 600;
              color: var(--white); } }
@media screen and (min-width: 1208px) {
  .cooperation .cooperation__container .cooperation__grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px; }
    .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-one {
      grid-column: 2/3;
      grid-row: 1/2; }
    .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-two {
      grid-column: 1/2;
      grid-row: 1/2; }
    .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-three {
      grid-column: 1/2;
      grid-row: 2/3; }
    .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between; }
      .cooperation .cooperation__container .cooperation__grid-wrapper .cooperation__grid-item-four button.cooperation-form--btn {
        align-self: flex-start;
        margin: 0; } }

/*# sourceMappingURL=cooperation.css.map */
