@media screen and (min-width:375px) {
    .cooperation {
        margin: 0 auto;
        .cooperation__container {
            width: 100%;
            padding: 50px;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            .cooperation__title {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                height: 140px;
                max-width: 85%;
                margin: 0 auto;
                .cooperation__title__h3 {
                    font-size: 24px;
                    font-weight: 700;
                  text-align: center;
                  margin: 20px 0;
                  color: var(--white);
                }
                .cooperation__title__span {
                    font-size: 24px;
                    line-height: 29px;
                    font-weight: 300;
                    color: var(--white);
                }
                .cooperation__title__div-hl {
                  width: 85px;
                  height: 2px;
                  background-color: var(--button-orange);
                  margin: 20px 0;
                }
            }
            .cooperation__grid-wrapper {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                .cooperation__grid-item-one {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .cooperation__grid-item-two {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        color: var(--white);
                    }
                }
                .cooperation__grid-item-three {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .cooperation__grid-item-four {
                    grid-column: 1/2;
                    grid-row: 4/5;
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        color: var(--white);
                    }
                }
            }
        }
    }
}
