.cost-calculation {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center; }
  .cost-calculation .cost-calculation-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 50px 0; }
    .cost-calculation .cost-calculation-title .title {
      width: 70%;
      margin: 0 auto;
      text-align: center; }
      .cost-calculation .cost-calculation-title .title .title-span {
        font-size: 36px;
        font-weight: 700;
        display: block;
        color: var(--white); }
      .cost-calculation .cost-calculation-title .title .title-line {
        display: inline-block;
        border: 2px solid var(--tab-bgc);
        height: 0px;
        width: 85px;
        margin-bottom: 2px; }
  .cost-calculation .wrapper-form {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 95%;
    max-width: 626px; }
    .cost-calculation .wrapper-form .warpper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      background-color: inherit; }
    .cost-calculation .wrapper-form .tabs {
      position: absolute;
      margin-top: -30px;
      left: 10%;
      min-width: 80%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .cost-calculation .wrapper-form .tab {
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: var(--background);
      display: flex;
      flex-flow: row nowrap;
      justify-items: center;
      align-items: center;
      color: var(--button-grey);
      border-radius: 90px;
      border: 3px solid var(--background-second); }
      .cost-calculation .wrapper-form .tab span {
        margin: 0 auto; }
    .cost-calculation .wrapper-form .panels {
      padding: 50px 0 20px;
      background: var(--background-second);
      border-radius: 25px;
      overflow: hidden;
      color: var(--white);
      width: 100%; }
      .cost-calculation .wrapper-form .panels .panel {
        display: none;
        animation: fadein 0.1s; }
      .cost-calculation .wrapper-form .panels #one-panel .inp-parent,
      .cost-calculation .wrapper-form .panels #two-panel .inp-parent,
      .cost-calculation .wrapper-form .panels #three-panel .inp-parent {
        width: 90%;
        margin: 0 auto; }
        .cost-calculation .wrapper-form .panels #one-panel .inp-parent label,
        .cost-calculation .wrapper-form .panels #two-panel .inp-parent label,
        .cost-calculation .wrapper-form .panels #three-panel .inp-parent label {
          display: block; }
        .cost-calculation .wrapper-form .panels #one-panel .inp-parent input,
        .cost-calculation .wrapper-form .panels #two-panel .inp-parent input,
        .cost-calculation .wrapper-form .panels #three-panel .inp-parent input {
          width: 100%;
          height: 50px;
          border-radius: 10px;
          padding: 0;
          border: none;
          margin: 15px 0; }
        .cost-calculation .wrapper-form .panels #one-panel .inp-parent input::placeholder,
        .cost-calculation .wrapper-form .panels #two-panel .inp-parent input::placeholder,
        .cost-calculation .wrapper-form .panels #three-panel .inp-parent input::placeholder {
          padding-left: 30px; }
      .cost-calculation .wrapper-form .panels .one-panel .form-catalog__capacity-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__capacity-wrap .capacity-wrap__capacity {
          grid-column: 1/2;
          grid-row: 1/2; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__capacity-wrap .capacity-wrap__btn-wrap {
          grid-column: 2/3;
          grid-row: 1/2;
          justify-self: end; }
          .cost-calculation .wrapper-form .panels .one-panel .form-catalog__capacity-wrap .capacity-wrap__btn-wrap button {
            color: var(--button-orange);
            background-color: inherit;
            border: 0;
            text-decoration: underline; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__capacity-wrap #capacity {
          grid-column: 1/3;
          grid-row: 2/3;
          margin: 0; }
      .cost-calculation .wrapper-form .panels .one-panel .form-catalog__insurance-clearance__wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 15px 0; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__insurance-clearance__wrap #insurance,
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__insurance-clearance__wrap #clearance {
          width: auto;
          height: auto;
          margin-right: 15px; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__insurance-clearance__wrap .form-catalog__insurance-clearance__insurance {
          grid-column: 1/2;
          grid-row: 1/2;
          display: flex;
          flex-flow: row nowrap;
          align-items: center; }
        .cost-calculation .wrapper-form .panels .one-panel .form-catalog__insurance-clearance__wrap .form-catalog__insurance-clearance__clearance {
          grid-column: 1/2;
          grid-row: 2/3;
          display: flex;
          flex-flow: row nowrap;
          align-items: center; }
      .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__exmpl-reset {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center; }
        .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__exmpl-reset #reset {
          width: auto;
          height: auto;
          border: 0;
          background-color: inherit;
          color: var(--delete-red);
          text-decoration: underline; }
        .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__exmpl-reset .upload-photo-form__exmpl-reset__label {
          grid-column: 1/2;
          grid-row: 1/2;
          justify-self: start; }
        .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__exmpl-reset .upload-photo-form__exmpl-reset__reset {
          grid-column: 2/3;
          grid-row: 1/2;
          justify-self: end; }
      .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__input {
        width: 90%;
        min-height: 70px;
        border-radius: 10px;
        border: 1px dashed var(--button-grey);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        .cost-calculation .wrapper-form .panels .one-panel .upload-photo-form__input #upload-input {
          display: none; }
      .cost-calculation .wrapper-form .panels .one-panel .one-panel-btn-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 15px; }
        .cost-calculation .wrapper-form .panels .one-panel .one-panel-btn-wrap .one-panel-btn {
          background-color: var(--button-orange);
          width: 100%;
          max-width: 253px;
          height: 65px;
          border-radius: 90px;
          border: 0;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          align-items: center; }
      .cost-calculation .wrapper-form .panels .two-panel .cust-info__text-form #text-form {
        min-width: 99%;
        min-height: 200px;
        border-radius: 10px;
        margin-top: 15px; }
      .cost-calculation .wrapper-form .panels .two-panel .cust-info__text-form #text-form::placeholder {
        margin-left: 25px; }
      .cost-calculation .wrapper-form .panels .two-panel .cust-info__two-panel-btn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px; }
        .cost-calculation .wrapper-form .panels .two-panel .cust-info__two-panel-btn #two-panel-btn-prev {
          width: 60%;
          max-width: 138px;
          height: 50px;
          border-radius: 90px;
          margin-left: 25px;
          border: 0;
          background-color: var(--button-orange); }
        .cost-calculation .wrapper-form .panels .two-panel .cust-info__two-panel-btn #two-panel-btn-next {
          width: 70%;
          max-width: 252px;
          height: 50px;
          border-radius: 90px;
          margin-right: 25px;
          background-color: var(--button-orange); }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .cost-calculation .wrapper-form .panel-title {
      font-size: 1.5em;
      font-weight: bold; }
    .cost-calculation .wrapper-form .radio {
      display: none; }
    .cost-calculation .wrapper-form #one:checked ~ .panels #one-panel,
    .cost-calculation .wrapper-form #two:checked ~ .panels #two-panel,
    .cost-calculation .wrapper-form #three:checked ~ .panels #three-panel {
      display: block; }
    .cost-calculation .wrapper-form #one:checked ~ .tabs #one-tab,
    .cost-calculation .wrapper-form #two:checked ~ .tabs #two-tab,
    .cost-calculation .wrapper-form #three:checked ~ .tabs #three-tab {
      background: var(--tab-bgc);
      color: var(--white); }
  .cost-calculation .man-in-cask {
    display: none; }

@media screen and (min-width: 768px) {
  .wrapper-form {
    height: 597px; } }

/*# sourceMappingURL=cost-calculation.css.map */
