.cost-calculation {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center; }
  .cost-calculation .cost-calculation-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 50px 0; }
    .cost-calculation .cost-calculation-title .title {
      width: 70%;
      margin: 0 auto;
      text-align: center; }
      .cost-calculation .cost-calculation-title .title .title-span {
        font-size: 36px;
        font-weight: 700;
        display: block;
        color: var(--white); }
      .cost-calculation .cost-calculation-title .title .title-line {
        display: inline-block;
        border: 2px solid var(--tab-bgc);
        height: 0px;
        width: 85px;
        margin-bottom: 2px; }
  .cost-calculation .wrapper-form {
    grid-column: 1/2;
    grid-row: 2/3; }
    .cost-calculation .wrapper-form .warpper {
      position: relative;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      background-color: inherit; }
    .cost-calculation .wrapper-form .tabs {
      position: absolute;
      margin-top: -30px;
      left: 10%;
      min-width: 80%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
    .cost-calculation .wrapper-form .tab {
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: var(--background);
      display: flex;
      flex-flow: row nowrap;
      justify-items: center;
      align-items: center;
      color: var(--button-grey);
      border-radius: 90px;
      border: 3px solid var(--background-second); }
      .cost-calculation .wrapper-form .tab span {
        margin: 0 auto; }
    .cost-calculation .wrapper-form .panels {
      padding: 50px 0 20px;
      background: var(--background-second);
      width: 100%;
      min-width: 200px;
      height: 100%;
      border-radius: 25px;
      overflow: hidden;
      color: var(--white); }
    .cost-calculation .wrapper-form .panel {
      display: none;
      animation: fadein 0.1s;
      padding: 0 20px; }
      .cost-calculation .wrapper-form .panel .form-catalog .form-catalog__input-price {
        min-width: 100%;
        height: 55px;
        border-radius: 10px;
        border: none;
        margin: 22px 0;
        background-color: aliceblue; }
      .cost-calculation .wrapper-form .panel input {
        display: inline-block; }
      .cost-calculation .wrapper-form .panel .insurance-clearance-wrap {
        margin: 20px 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start; }
        .cost-calculation .wrapper-form .panel .insurance-clearance-wrap span {
          margin-top: 10px; }
      .cost-calculation .wrapper-form .panel .upload-photo-btn {
        margin: 25px 0;
        display: block;
        width: 260px;
        height: 40px;
        border: 1px dashed var(--button-grey);
        border-radius: 10px;
        background-color: inherit;
        color: var(--button-grey); }
      .cost-calculation .wrapper-form .panel .capacity-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
      .cost-calculation .wrapper-form .panel .capacity-a {
        color: var(--button-prange-dark);
        background-color: inherit;
        text-decoration: underline;
        border: none; }
      .cost-calculation .wrapper-form .panel #upload-photo-form .upload-photo-form-exmpl-reset {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center; }
      .cost-calculation .wrapper-form .panel #upload-photo-form #reset {
        color: var(--delete-red);
        border: none;
        background-color: inherit;
        text-decoration: underline; }
      .cost-calculation .wrapper-form .panel #upload-photo-form .upload-photo-wrap {
        margin: 15px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border: 1px dashed var(--button-grey);
        border-radius: 10px; }
        .cost-calculation .wrapper-form .panel #upload-photo-form .upload-photo-wrap #upload-input-wrap {
          width: 260px;
          height: 40px;
          border-radius: 10px;
          align-self: center;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          padding: 6px 12px;
          cursor: pointer; }
          .cost-calculation .wrapper-form .panel #upload-photo-form .upload-photo-wrap #upload-input-wrap #upload-input {
            display: none; }
      .cost-calculation .wrapper-form .panel .text-form-label {
        margin: 10px 0; }
      .cost-calculation .wrapper-form .panel #text-form {
        width: 97%;
        height: 100px;
        border-radius: 10px;
        border: none; }
      .cost-calculation .wrapper-form .panel #text-form::placeholder {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 16px; }
      .cost-calculation .wrapper-form .panel .one-panel-btn-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center; }
        .cost-calculation .wrapper-form .panel .one-panel-btn-wrap .one-panel-btn {
          width: 260px;
          height: 60px;
          border-radius: 90px;
          background-color: var(--button-orange);
          border: none;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center; }
          .cost-calculation .wrapper-form .panel .one-panel-btn-wrap .one-panel-btn span {
            padding-right: 20px; }
      .cost-calculation .wrapper-form .panel .two-panel-btn {
        margin: 25px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center; }
        .cost-calculation .wrapper-form .panel .two-panel-btn #two-panel-btn-prev {
          width: 30%;
          height: 50px;
          border-radius: 90px;
          border: 1px solid var(--button-orange);
          background-color: inherit;
          margin-right: 10%;
          color: var(--white); }
        .cost-calculation .wrapper-form .panel .two-panel-btn #two-panel-btn-next {
          width: 40%;
          height: 50px;
          border-radius: 90px;
          background-color: var(--button-orange);
          border: none;
          color: var(--white); }
      .cost-calculation .wrapper-form .panel .three-panel-wrap {
        margin-left: 10px;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: space-around; }
      .cost-calculation .wrapper-form .panel .three-panel-img {
        width: 112px;
        height: 112px;
        margin: 20px 0; }
      .cost-calculation .wrapper-form .panel .three-panel-span-1 {
        font-size: 32px;
        font-weight: 700; }
      .cost-calculation .wrapper-form .panel .three-panel-span-2 {
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0; }
      .cost-calculation .wrapper-form .panel .three-panel-span-div {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 700; }
        .cost-calculation .wrapper-form .panel .three-panel-span-div ul {
          padding-inline-start: 13px; }
        .cost-calculation .wrapper-form .panel .three-panel-span-div li {
          font-size: 18px;
          font-weight: 300; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .cost-calculation .wrapper-form .panel-title {
      font-size: 1.5em;
      font-weight: bold; }
    .cost-calculation .wrapper-form .radio {
      display: none; }
    .cost-calculation .wrapper-form #one:checked ~ .panels #one-panel,
    .cost-calculation .wrapper-form #two:checked ~ .panels #two-panel,
    .cost-calculation .wrapper-form #three:checked ~ .panels #three-panel {
      display: block; }
    .cost-calculation .wrapper-form #one:checked ~ .tabs #one-tab,
    .cost-calculation .wrapper-form #two:checked ~ .tabs #two-tab,
    .cost-calculation .wrapper-form #three:checked ~ .tabs #three-tab {
      background: var(--tab-bgc);
      color: var(--white); }
  .cost-calculation .man-in-cask {
    display: none; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper-form {
    min-width: 89%; } }
@media screen and (min-width: 768px) {
  .wrapper-form {
    width: 625px;
    height: 597px; } }

/*# sourceMappingURL=cost-calculation.css.map */
