.cost-calculation {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr;
  justify-items: center;
  align-items: center;
  padding: 0 20px;
  .cost-calculation-title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 0 50px;
    .title {
      width: 70%;
      margin: 0 auto;
      text-align: center;
      .title-span {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        display: block;
        color: var(--white);
      }
      .title-line {
        display: inline-block;
        border: 2px solid var(--tab-bgc);
        height: 0px;
        width: 85px;
        margin-bottom: 2px;
      }
    }
  }
  .wrapper-form {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    max-width: 626px;
    margin:  0 auto;
    .warpper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 25px;
      background-color: inherit;
    }
    .tabs {
      position: absolute;
      margin-top: -30px;
      left: 10%;
      min-width: 80%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .tab {
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: var(--background);
      display: flex;
      flex-flow: row nowrap;
      justify-items: center;
      align-items: center;
      color: var(--button-grey);
      border-radius: 90px;
      border: 3px solid var(--background-second);
      span {
        margin: 0 auto;
      }
    }
    .panels {
      padding: 50px 0 25px;
      background-color: var(--background-second);
      border-radius: 25px;
      overflow: hidden;
      color: var(--white);
      width: 100%;
      .panel {
        display: none;
        animation: fadein 0.1s;
      }
      #one-panel,
      #two-panel,
      #three-panel {
        .inp-parent {
          padding: 0 30px;
          margin: 0 auto;
          label {
            display: block;
          }
          input {
            width: 100%; 
            height: 50px;
            border-radius: 10px;
            border: none;
            margin: 15px 0;
            padding: 0px 0px;
            text-align: center;
          }
          input::placeholder {
            opacity: 0.7;
          }
        }
      }
      .one-panel {
        .form-catalog__capacity-wrap {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          .capacity-wrap__capacity {
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 15px;
            font-weight: 600;
          }
          .capacity-wrap__btn-wrap {
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: end;
            button {
              color: var(--button-orange);
              background-color: inherit;
              border: 0;
              text-decoration: underline;
            }
          }
          #capacity {
            grid-column: 1/3;
            grid-row: 2/3;
            margin: 0;
          }
        }
        .form-catalog__insurance-clearance__wrap {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          #insurance,
          #clearance {
            width: auto;
            height: auto;
            margin-right: 15px;
          }
          .form-catalog__insurance-clearance__insurance {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
          }
          .form-catalog__insurance-clearance__clearance {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
          }
        }
        .upload-photo-form {
          padding: 0 30px;
          .upload-photo-form__exmpl-reset {
            padding: 10px 0;
            #reset {
              border: 0;
              background-color: inherit;
              color: var(--delete-red);
              text-decoration: underline;
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            justify-content: space-between;
            .upload-photo-form__exmpl-reset__label {
              grid-column: 1/2;
              grid-row: 1/2;
              justify-self: start;
            }
            .upload-photo-form__exmpl-reset__reset {
              grid-column: 2/3;
              grid-row: 1/2;
              justify-self: end;
            }
          }
          .upload-photo-form__input {
            min-height: 40px;
            border-radius: 10px;
            border: 1px dashed var(--button-grey);
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            #upload-input {
              display: none;
              max-width: 50px;
              max-height: 50px;
            }
            #myimage {
              display: none;
            }
          }
        }
        
        .one-panel-btn-wrap {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          margin-bottom: 25px;
          .one-panel-btn {
            background-color: var(--button-orange);
            width: 100%;
            max-width: 253px;
            height: 65px;
            border-radius: 90px;
            border: 0;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            color: var(--white);
            img {
              margin-left: 15px;
            }
          }
        }
      }
      .two-panel {
        .cust-info__text-form {
          #text-form {
            min-width: 99%;
            height: 147px;
            border-radius: 10px;
            margin-top: 15px;
          }
          #text-form::placeholder {
            margin-left: 25px;
          }
        }
        .cust-info__two-panel-btn {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          padding-top: 20px;
          #two-panel-btn-prev {
            width: 60%;
            max-width: 138px;
            height: 68px;
            border-radius: 90px;
            margin-left: 25px;
            border: 1px solid var(--button-orange);
            background-color: inherit;
            color: var(--white);
          }
          #two-panel-btn-next {
            width: 70%;
            max-width: 253px;
            height: 68px;
            border-radius: 90px;
            margin-right: 25px;
            background-color: var(--button-orange);
            border: 0;
            color: var(--white);
            margin-left: 10px;
          }
        }
      }
      .three-panel {
        .three-panel-wrap {
          width: 90%;
          height: 597px;
          margin: 0 auto;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around;
          align-items: center;
          gap: 10px;
          .three-panel-img {
            width: 112px;
            height: 112px;
          }
          .three-panel-span-1 {
            font-size: 32px;
            font-weight: 700;
          }
          .three-panel-span-2 {
            font-size: 18px;
            font-weight: 400;
          }
          .three-panel-span-div {
            text-align: center;
          }
          span {
            font-size: 20px;
            font-weight: 700;
          }
          ul {
            text-align: start;
          }
          ul>li {
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .panel-title {
      font-size: 1.5em;
      font-weight: bold;
    }
    .radio {
      display: none;
    }
    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel,
    #three:checked ~ .panels #three-panel {
      display: block;
    }
    
    #one:checked ~ .tabs #one-tab,
    #two:checked ~ .tabs #two-tab,
    #three:checked ~ .tabs #three-tab {
      background: var(--tab-bgc);
      color: var(--white);
    }
  }
  .man-in-cask {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  section.cost-calculation {
    .wrapper-form {
      .tabs {
        position: absolute;
        margin-top: -30px;
        left: 10%;
        min-width: 40%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      .warpper {
        .panels {
          height: 597px;
          #one-panel,
          #two-panel,
          #three-panel {
            .inp-parent {
              width: 100%;
              padding: 0;
              margin: 0;
              input {
                max-width: 248px;
                height: 56px;
                border-radius: 10px;
                border: none;
              }
            }
          }
          .one-panel {
            margin: 0 auto;
            max-height: 597px;
            .form-catalog {
              padding: 0 50px;
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 1fr 0.2fr 0.3fr;
              align-items: end;
              justify-content: space-between;
              gap: 0 20px;
              form.form-catalog__category__wrap {
                grid-column: 1/2;
                grid-row: 1/2;
              }
              form.form-catalog__input-price__wrap {
                grid-column: 2/3;
                grid-row: 1/2;
              }
              .form-catalog__weight__wrap {
                grid-column: 1/2;
                grid-row: 2/3;
              }
              .form-catalog__capacity-wrap {
                grid-column: 2/3;
                grid-row: 2/3;
                grid-template-rows: 0.5fr 1fr;
                input#capacity {
                  margin: 15px 0;
                }
              }
              .form-catalog__insurance-clearance__wrap {
                grid-column: 1/2;
                grid-row: 3/4; 
                input#insurance,
                input#clearance {
                  width: 13px;
                  height: 13px;
                  margin-right: 15px;
                } 
              }
              .form-catalog__product-code__wrap {
                grid-column: 2/3;
                grid-row: 3/4;
              }
            }
            .upload-photo-form {
              margin-top: 15px;
              padding: 0 50px;
            }
            .one-panel-btn-wrap {
              padding: 0 50px;
              justify-content: start;

            }
          }
          .two-panel {
            margin: 0 auto;
            padding: 0 50px;
            .cust-info {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-template-rows: 0.7fr 0.7fr 0.8fr 0.6fr;
              align-items: end; 
              justify-items: center;
              .cust-info__custname {
                grid-column: 1/3;
                grid-row: 1/2;
              }
              input#custname {
                max-width: 526px;
                width: 100%;
                padding: 0;
              }
              .cust-info__custtel {
                grid-column: 1/2;
                grid-row: 2/3;
                input#custtel {
                  max-width: 248px;
                }
              }
              .cust-info__custmail {
                grid-column: 2/3;
                grid-row: 2/3;
                label {
                  margin-left: 11px;
                }
                input#custemail {
                  max-width: 248px;
                  margin-left: 11px;
                }
              }
              .cust-info__text-form {
                grid-column: 1/3;
                grid-row: 3/4;
                #text-form {
                  height: 147px;
                }
              }
              .cust-info__two-panel-btn {
                grid-column: 1/3;
                grid-row: 4/5;
  
              }
            }
          }
          .three-panel {
            .three-panel-wrap {
              width: 90%;
              height: 70%;
              margin: 0 auto;
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 0.6fr 0.3fr 0.3fr 0.5fr 0.5fr;
              .three-panel-img {
                grid-column: 1/2;
                grid-row: 1/2;
              }
              .three-panel-span-1 {
                grid-column: 1/2;
                grid-row: 2/3;
              }
              .three-panel-span-2 {
                grid-column: 1/2;
                grid-row: 3/4;
              }
              .three-panel-span-div {
                grid-column: 1/2;
                grid-row: 4/5;
                justify-self: start;
                span {
                  text-align: start;
                }
              }
              ul {
                grid-column: 1/2;
                grid-row: 5/6;
                padding-inline-start: 20px;
              }
            }
          }
        }
      }
    }
  }
  
}
@media screen and (min-width: 1208px) {
  .cost-calculation {
    box-sizing: content-box;
    position: relative;
    max-width: 1140px;
    height: 956px;
    margin: 0 auto;
    padding: 0 34px;
    display: grid;
    grid-template-columns: 626px auto;
    grid-template-rows: auto auto;
    .wrapper-form  {
      grid-column: 1/2;
      grid-row: 2/3;
      min-height: 100%;
      height: 597px;
      width: 626px;
      min-width: 100%;
    }
    .man-in-cask {
      grid-column: 2/3;
      grid-row: 1/3;
      display: block;
      position: absolute;
      bottom: 0px;
      left: -13%;
      width: 626px;
      height: 917px;
    }
  }
}
