@media screen and (min-width: 375px) {
  .services {
    box-sizing: content-box;
    position: relative;
    padding: 0 0px 50px;
    margin: 0 auto;
    background-color: var(--background-second);
    .services__wrapper {
      width: 100%;
      min-height: 482px;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      .swiper-pagination {
        bottom: 15px;
        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          border: 2px solid var(--button-grey);
        }
        .swiper-pagination-bullet-active {
          background-color: var(--white);
        }
      }
      .transportation__slider {
        overflow: hidden;
      }
      .swiper-slide-active {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      .services__slider-desktop-medium,
      .services__slider-desktop-large {
        display: none;
      }
      .services__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 190px;
        .services__title__h3 {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin: 20px 0;
          color: var(--white);
        }
        .services__title__div-hl {
          width: 85px;
          height: 2px;
          background-color: var(--button-orange);
          margin: 20px 0;
        }
      }
      .swiper-wrapper {
        .swiper-slide {
          .servives-slide-wrap {
            max-width: 335px;
            width: 100%;
            height: 482px;
            border-radius: 20px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 0.6fr 1fr 1fr;
            .servives-slide-title {
              grid-column: 1/2;
              grid-row: 2/3;
              margin-left: 30px;
              font-size: 22px;
              line-height: 27px;
              font-weight: 700;
              color: var(--white);
              display: flex;
              flex-flow: row nowrap;
              justify-items: center;
              align-items: center;
            }
            .servives-slide-p {
              grid-column: 1/2;
              grid-row: 3/4;
              margin: 10px 34px 10px 30px;
              font-size: 14px;
              line-height: 17px;
              font-weight: 400;
              color: var(--white);
            }
            .servives-slide-btn {
              grid-column: 1/2;
              grid-row: 4/5;
              width: 153px;
              height: 50px;
              margin-left: 30px;
              margin-bottom: 33px;
              border: 1px solid var(--button-orange);
              border-radius: 90px;
              background-color: inherit;
              color: var(--white);
            }
          }
        }
        .servives-slide_1,
        .servives-slide_2,
        .servives-slide_3,
        .servives-slide_4 {
          .servives-slide-wrap {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 482px;
          }
        }
        .servives-slide_1 {
          .servives-slide-wrap {
            background: linear-gradient(
                0deg,
                rgba(4, 5, 17, 0.91) 0%,
                rgba(88, 88, 88, 0) 100%
              ),
              url("../img/services-slide-1.png");
          }
        }
        .servives-slide_2 {
          .servives-slide-wrap {
            background: linear-gradient(
                0deg,
                rgba(4, 5, 17, 0.91) 0%,
                rgba(88, 88, 88, 0) 100%
              ),
              url("../img/services-slide-2.png");
          }
        }
        .servives-slide_3 {
          .servives-slide-wrap {
            background: linear-gradient(
                0deg,
                rgba(4, 5, 17, 0.91) 0%,
                rgba(88, 88, 88, 0) 100%
              ),
              url("../img/services-slide-3.png");
          }
        }
        .servives-slide_4 {
          .servives-slide-wrap {
            background: linear-gradient(
                0deg,
                rgba(4, 5, 17, 0.91) 0%,
                rgba(88, 88, 88, 0) 100%
              ),
              url("../img/services-slide-4.png");
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .services {
    padding: 0 50px 0px;
    background-color: var(--background-second);
    .services__wrapper {
      width: 100%;
      height: 794px;
      min-height: 100%;
      border-radius: 20px;
      .swiper-wrapper {
        .swiper-slide {
          .servives-slide-wrap {
            max-width: 360px;
            width: 100%;
          }
        }
      }
      .swiper-pagination {
        bottom: 50px;
      }
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet {
        margin: 0 13px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .services {
    padding: 0 50px;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    .services__wrapper {
      max-width: 768px;
      .services__slider-mobile,
      .services__slider-desktop-large {
        display: none;
      }
      .services__slider-desktop-medium {
        display: block;
        .swiper-wrapper {
          .swiper-slide-active {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            overflow: hidden;
          }
          .swiper-slide-next {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
          }
          .swiper-slide {
            .servives-slide-wrap {
              max-width: 360px;
            }
          }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
          left: 5%;
          right: auto;
          color: var(--button-grey);
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
          right: 5%;
          left: auto;
          color: var(--button-grey);
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .services {
    .services__wrapper {
      max-width: 1140px;
      .services__slider-mobile,
      .services__slider-desktop-medium {
        display: none;
      }
      .services__slider-desktop-large {
        display: block;
        .swiper-slide-next {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
        }
        .swiper-slide {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
          right: 40px;
          left: auto;
          color: var(--button-grey);
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
          left: 40px;
          right: auto;
          color: var(--button-grey);
        }
      }
    }
  }
}
