@media screen and (min-width: 375px) {
  .why-us {
    box-sizing: content-box;
    position: relative; }
    .why-us .why-us__wrapper {
      width: 100%;
      height: 479px;
      min-height: 100%;
      margin: 0 auto;
      background-color: var(--background-second);
      overflow: hidden; }
      .why-us .why-us__wrapper .swiper-pagination {
        bottom: 65px; }
        .why-us .why-us__wrapper .swiper-pagination .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          margin: 0 10px;
          border: 1px solid var(--white);
          background-color: var(--background-second);
          opacity: 0.7; }
        .why-us .why-us__wrapper .swiper-pagination .swiper-pagination-bullet-active {
          background-color: var(--white); }
      .why-us .why-us__wrapper .why-us__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 140px;
        max-width: 85%;
        margin: 0 auto; }
        .why-us .why-us__wrapper .why-us__title .why-us__title__h3 {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin: 20px 0;
          color: var(--white); }
        .why-us .why-us__wrapper .why-us__title .why-us__title__div-hl {
          width: 85px;
          height: 2px;
          background-color: var(--button-orange);
          margin: 20px 0; }
      .why-us .why-us__wrapper .why-us__slider {
        overflow: hidden; }
      .why-us .why-us__wrapper .swiper-slide-active {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
    .why-us .why-us__container-grid {
      display: none; }

  .thy-us-slide-wrap {
    display: grid;
    grid-template-columns: 265px;
    grid-template-rows: 120px 60px;
    justify-items: center;
    align-items: center; }
    .thy-us-slide-wrap .out-circle {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width: 113px;
      height: 113px;
      border-radius: 90px;
      border: 1px solid var(--circle-border); }
      .thy-us-slide-wrap .out-circle .ins-circle {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 93px;
        height: 93px;
        border-radius: 90px;
        background-color: var(--tab-bgc); }
        .thy-us-slide-wrap .out-circle .ins-circle img {
          width: 50px;
          height: 50px; }
    .thy-us-slide-wrap .item-title {
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      padding-top: 10px; } }
@media screen and (min-width: 768px) {
  .why-us {
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto; }
    .why-us .why-us__wrapper {
      min-width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 20px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 2fr;
      justify-content: center;
      align-items: center; }
      .why-us .why-us__wrapper .why-us__slider {
        display: none; }
      .why-us .why-us__wrapper .why-us__container-grid {
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        gap: 25px;
        padding-bottom: 45px; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__1 {
          grid-column: 1/2;
          grid-row: 1/2; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__2 {
          grid-column: 2/3;
          grid-row: 1/2; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__3 {
          grid-column: 1/2;
          grid-row: 2/3; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__4 {
          grid-column: 2/3;
          grid-row: 2/3; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__5 {
          grid-column: 1/2;
          grid-row: 3/4; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__6 {
          grid-column: 2/3;
          grid-row: 3/4; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__7 {
          grid-column: 1/2;
          grid-row: 4/5; }
        .why-us .why-us__wrapper .why-us__container-grid .why-us__slide__8 {
          grid-column: 2/3;
          grid-row: 4/5; } }
@media screen and (max-width: 1208px) {
  section.why-us {
    margin-top: 25px; } }
@media screen and (min-width: 1208px) {
  section.why-us .why-us__wrapper .why-us__container-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__1 {
      grid-column: 1/2;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__2 {
      grid-column: 2/3;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__3 {
      grid-column: 3/4;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__4 {
      grid-column: 1/2;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__5 {
      grid-column: 2/3;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__6 {
      grid-column: 3/4;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__7 {
      grid-column: 1/2;
      grid-row: 3/4; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__8 {
      grid-column: 2/3;
      grid-row: 3/4; } }
@media screen and (min-width: 1400px) {
  section.why-us .why-us__wrapper .why-us__container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__1 {
      grid-column: 1/2;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__2 {
      grid-column: 2/3;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__3 {
      grid-column: 3/4;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__4 {
      grid-column: 4/5;
      grid-row: 1/2; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__5 {
      grid-column: 1/2;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__6 {
      grid-column: 2/3;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__7 {
      grid-column: 3/4;
      grid-row: 2/3; }
    section.why-us .why-us__wrapper .why-us__container-grid .why-us__slide__8 {
      grid-column: 4/5;
      grid-row: 2/3; } }

/*# sourceMappingURL=why-us.css.map */
