@media screen and (min-width: 375px) {
  section.why-us {
    box-sizing: content-box;
    position: relative;
    max-width: 1920px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    
    div.why-us__wrapper {
      width: 100%;
      min-height: 479px;
      height: 100%;
      margin: 0 auto;
      border-radius: 20px;
      background-color: var(--background-second);
      overflow: hidden;
 
      .swiper-pagination {
        bottom: 65px;
        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
        }
      }
      .why-us__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 190px;
        .why-us__title__h3 {
            font-size: 24px;
            font-weight: 700;
          text-align: center;
          margin: 20px 0;
          color: var(--white);
        }
        .why-us__title__div-hl {
          width: 85px;
          height: 2px;
          background-color: var(--button-orange);
          margin: 20px 0;
        }
      }
      .why-us__slider {
        overflow: hidden;
      }
      .swiper-slide-active {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
    }
    .why-us__container-grid {
      display: none;
    }
  }
  .thy-us-slide-wrap {
    display: grid;
    grid-template-columns: 265px;
    grid-template-rows: 120px 60px;
    justify-items: center;
    align-items: center;
    .out-circle {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      width: 113px;
      height: 113px;
      border-radius: 90px;
      border: 1px solid var(--circle-border);
      .ins-circle {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        width: 93px;
        height: 93px;
        border-radius: 90px;
        background-color: var(--tab-bgc);
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .item-title {
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
    }
  }
}

@media screen and (min-width: 1024px) {
  section.why-us {
    .why-us__wrapper {
      .why-us__title {

      }
      .why-us__slider {
        display: none;
      }
      .why-us__container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        .why-us__slide__1 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__2 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__3 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__4 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__5 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__6 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__7 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .why-us__slide__8 {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
    }
  }
}
